.main-fomr {
	.search-form {
		position: absolute;
		bottom: 0px;
		right: 15px;
		width: auto;
		height: auto;
		background-color: #fff;

		input {
			height: 100%;
		}
		button {
			height: 100%;
		}
		.col-boder-left {
			border-right: 1px solid #000;
		}
		.col-width {
			.form-floating {
				.dropdown-width {
					width: auto;
					background-image: url("https://cdn-icons-png.flaticon.com/512/54/54817.png");
					background-repeat: no-repeat;
					background-position: 85%;
					background-size: 15px;
				}
			}
		}
		.with-btn{
			button{
				width: 120px;
				background-color: #090778;
			}
		}
	}
}
